x64/
out/
*.vcxproj
*.vcxproj.filters
*.sln
1_zodziu_daznumas.txt
2_crossreference.txt
3_urls.txt
.vs/
.vxcproj
bin/
obj/
*.user
*.suo
*.userosscache


# Build output
build/
dist/

# IDEs
.vscode/
.idea/
*.iml

*.log

.env
.env.local
.env.*.local
x64/Debug
Objektin.35f810c7/Debug